<h1>Index</h1>

<% @schools.each do |school| %>
  <li><strong><%= school.name %></strong> Lat: <%= school.latitude %>, Long: <%= school.longitude %></li>
<% end %>
<%= link_to 'Add a New School', new_school_path, class: 'btn btn-primary' %>
